@font-face {
    font-family: montserrat;
    src: url(montserrat.ttf);
}
body {
    font-family: montserrat;
    text-align: center;
}
#oblicz{
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  font-size: 1em;
  font-family: montserrat;
}
#oblicz:active{
    background-color: #939393;
}